<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title><%-title%></title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; 使用模板数据 &ndash;&gt;-->
<!--<h1><%-title%></h1>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图片上传</title>
</head>
<body>
<input type="file" id='upload' />
<script>
    //复制文本
    function copyText(text) {
        var element = createElement(text);
        element.select();
        element.setSelectionRange(0, element.value.length);
        document.execCommand('copy');
        element.remove();
        alert("地址已复制到剪切板");
    }

    //创建临时的输入框元素
    function createElement(text) {
        var isRTL = document.documentElement.getAttribute('dir') === 'rtl';
        var element = document.createElement('textarea');
        // 防止在ios中产生缩放效果
        element.style.fontSize = '12pt';
        // 重置盒模型
        element.style.border = '0';
        element.style.padding = '0';
        element.style.margin = '0';
        // 将元素移到屏幕外
        element.style.position = 'absolute';
        element.style[isRTL ? 'right' : 'left'] = '-9999px';
        // 移动元素到页面底部
        let yPosition = window.pageYOffset || document.documentElement.scrollTop;
        element.style.top = `${yPosition}px`;
        //设置元素只读
        element.setAttribute('readonly', '');
        element.value = text;
        document.body.appendChild(element);
        return element;
    }
    // 获取 input 标签的 dom
    var input = document.getElementById('upload')
    // 监听它的变化
    input.addEventListener('change', function(e) {
        // 获取到上传的 file 对象
        var file = input.files[0]
        // 声明 FormData 实例 formData
        let formData = new FormData()
        // 添加实例属性 file
        formData.append('file', file)
        console.log('formData', formData)
        // 调用服务端上传接口。
        fetch('http://101.42.22.228:7001/api/upload', {
            method: 'POST',
            body: formData
        }).then(res => {
            if(res.ok) {
                console.log('success')
                return res.json();
            } else {
                console.log('error')
            }
        }).then(res => {
            copyText(`http://101.42.22.228:7001${res.data}`)
            console.log('res is', res);
        })
    })
</script>
</body>
</html>
